@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:ital,wght@0,500;1,300&display=swap');
*,
*:after,
*:before{
 
  box-sizing: border-box;
}
:root{
  font-family: 'Montserrat';font-size: 14px;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    .container{
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    } 
    .card{
     /*  border: solid 2px; */
      display: flex;
     /*  width: 500px;
      height: 500px;
  /*     height: 100vh; 
      align-items: center; */
      width: auto;
      margin: 2rem;
    /*   padding: 2rem; */
      margin-left: auto;
      margin-right: auto;
    } 
    /* section{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    } */
    /* .img_desktop{
    height: 200px; */
    
    .item1{
      background-position: left;
      width: 50%; 
      /* height: 100%; */
    /*   background-size: cover;
      background-repeat: no-repeat; */
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      height: auto;
    }
    .img-pa{
      width: 350px;
      height: 100%;
      border-radius: 1rem;
/*       margin: 0
 */  overflow: auto;
  }
    .item2{
      height: auto;
      width: 50%;
      background-color: #fff;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .content{
      display: flex;
      flex-direction: column;
      padding: 30px;
      width: auto;
      height: 100%;
    }
    /* .card{
      display: flex;
      align-items: center;
    } */
    h1{
      font-family: 'Fraunces';
    }
    button{
      border-radius: 10px;
    }
    .container{
      background-color:hsl(30, 38%, 92%) ;
    }
   p{
    font-size: 14px;
   }
   .price{
    display: flex;
    align-items: center;
    gap: 10%;  
   }
   .big-price{
    font-weight: 700;
   }
   body{
    background-color:hsl(30, 38%, 92%) ;

   }